1 ICON "../icon/icon.ico"

1 VERSIONINFO
    FILEVERSION     0,4,0,0
    PRODUCTVERSION  0,4,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription",    "wl_sherlock"
            VALUE "FileVersion",        "0.4.0.0"
            VALUE "InternalName",       "wl_sherlock"
            VALUE "OriginalFilename",   "wl_sherlock.exe"
            VALUE "ProductName",        "wl_sherlock"
            VALUE "ProductVersion",     "0.4.0.0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
